<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>{{title}}</h2>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputBirthdate" class="col-sm-2" control-label>Nascimento</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="inputBirthdate" placeholder="Data de nascimento">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2" control-label>Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="col-sm-2" control-label>Sobrenome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Salvar</button>
                        </div>
                    </div>

                </form>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->